.sw-product-detail-reviews__action-approve {
    background-color: #4CAF50;
    color: white;

    &:hover {
        background-color: #4CAF50;
        color: white;
        font-weight: bold;
    }
}

.sw-product-detail-reviews__action-reject {
    background-color: #F44336;
    color: white;

    &:hover {
        background-color: #F44336;
        color: white;
        font-weight: bold;
    }
}