{% block sw_product_detail_reviews %}
    <sw-card
            v-if="!isLoading"
            class="sw-product-detail-reviews__list"
            position-identifier="sw-product-detail-reviews"
            :title="cardTitle"
    >
        {% block sw_product_detail_reviews_data %}
            <template
                    v-if="total"
                    #grid
            >
                <sw-data-grid
                        ref="gridReview"
                        :data-source="dataSource"
                        :columns="reviewColumns"
                        :is-loading="isLoading"
                        :show-selection="false"
                        :show-actions="true"
                >
                    {% block sw_product_detail_reviews_data_action %}
                        <template #actions="{ item }">
                            {% block sw_product_detail_reviews_data_action_edit %}
                                <sw-context-menu-item
                                        class="sw-product-detail-reviews__action-customer"
                                        :router-link="{ name: 'sw.customer.detail', params: { id: item.customerId } }"
                                >
                                    {{ $tc('sw-product.reviewForm.contextMenuCustomer') }}
                                </sw-context-menu-item>

                                <sw-context-menu-item
                                        class="sw-product-detail-reviews__action-edit"
                                        :disabled="!acl.can('product.editor')"
                                        :router-link="{ name: 'into.advanced.reviews.detail', params: { id: item.id } }"
                                >
                                    {{ $tc('sw-product.reviewForm.contextMenuEdit') }}
                                </sw-context-menu-item>

                                <sw-context-menu-item
                                        :class="{'sw-product-detail-reviews__action-approve': !item.isApproved, 'sw-product-detail-reviews__action-reject': item.isApproved}"
                                        :disabled="!acl.can('product.editor')"
                                        @click="toggleApproval(item)"
                                >
                                    {{ item.isApproved ? $tc('sw-product.reviewForm.contextMenuReject') : $tc('sw-product.reviewForm.contextMenuApprove') }}
                                </sw-context-menu-item>
                            {% endblock %}

                            {% block sw_product_detail_reviews_data_action_delete %}
                                <sw-context-menu-item
                                        class="sw-product-detail-reviews__action-delete"
                                        variant="danger"
                                        :disabled="!acl.can('product.editor')"
                                        @click="onStartReviewDelete(item)"
                                >
                                    {{ $tc('sw-product.reviewForm.contextMenuDelete') }}
                                </sw-context-menu-item>
                            {% endblock %}
                        </template>
                    {% endblock %}

                    {% block sw_product_detail_reviews_data_pagination %}
                        <template #pagination>
                            <sw-pagination
                                    :total="total"
                                    :limit="limit"
                                    :page="page"
                                    :total-visible="7"
                                    :steps="[10]"
                                    @page-change="onChangePage">
                            </sw-pagination>
                        </template>
                    {% endblock %}
                </sw-data-grid>
            </template>
        {% endblock %}

        {% block sw_product_detail_reviews_empty_state %}

            <sw-empty-state
                    v-if="!total"
                    :title="$tc('sw-product.reviewForm.messageEmptyTitle')"
                    :subline="$tc('sw-product.reviewForm.messageEmptySubline')"
                    :absolute="false"
                    empty-module
            >
                <template #icon>
                    <img
                            :src="'/administration/static/img/empty-states/products-empty-state.svg' | asset"
                            :alt="$tc('sw-product.reviewForm.messageEmptyTitle')"
                    >
                </template>

                <template #actions>
                    {% block sw_product_detail_reviews_empty_state_button %}
                        <sw-button
                                variant="ghost"
                                :router-link="{ name: 'sw.review.index' }"
                        >
                            {{ $tc('sw-product.reviewForm.emptyStateButton') }}
                        </sw-button>
                    {% endblock %}
                </template>
            </sw-empty-state>
        {% endblock %}

        {% block sw_product_detail_reviews_modal_delete %}
            <sw-modal
                    v-if="showReviewDeleteModal"
                    variant="small"
                    :title="$tc('sw-product.reviewForm.modal.confirmTitle')"
                    @modal-close="onCancelReviewDelete"
            >
                {% block sw_product_detail_reviews_modal_delete_body %}
                    <p>{{ $tc('sw-product.reviewForm.modal.confirmText') }}</p>
                {% endblock %}

                {% block sw_product_detail_reviews_modal_delete_footer %}
                    <template #modal-footer>
                        {% block sw_product_detail_reviews_modal_delete_button_cancel %}
                            <sw-button
                                    size="small"
                                    @click="onCancelReviewDelete"
                            >
                                {{ $tc('sw-product.reviewForm.modal.buttonCancel') }}
                            </sw-button>
                        {% endblock %}

                        {% block sw_product_detail_reviews_modal_delete_button_confirm %}
                            <sw-button
                                    size="small"
                                    variant="danger"
                                    @click="onConfirmReviewDelete"
                            >
                                {{ $tc('sw-product.reviewForm.modal.buttonDelete') }}
                            </sw-button>
                        {% endblock %}
                    </template>
                {% endblock %}
            </sw-modal>
        {% endblock %}
    </sw-card>
{% endblock %}

