{% block sw_product_detail_content_tabs_reviews %}
    <sw-tabs-item :route="{ name: 'into.product.detail.review', params: { id: $route.params.id, product: product } }" :title="$tc('sw-product.detail.tabReviews')">
        {{ $tc('sw-product.detail.tabReviews') }}
    </sw-tabs-item>
{% endblock %}