{% block into_advanced_review_list %}
    <sw-page class="into_advanced_review_list">

        {% block sw_review_list_search_bar %}
            <template #search-bar>
                <sw-search-bar
                        initial-search-type="Bewertungen"
                        :initial-search="term"
                        :placeholder="$tc('sw-review.list.placeholderSearchBar')"></sw-search-bar>
            </template>
        {% endblock %}

        {% block sw_review_list_smart_bar_header %}
            <template #smart-bar-header>


                {% block sw_review_list_smart_bar_header_title %}
                    <h2>
                        {% block sw_review_list_smart_bar_header_title_text %}
                            {{ $tc('sw-review.list.textReviewOverview') }}
                        {% endblock %}

                        {% block sw_review_list_smart_bar_header_amount %}
                            <span
                                    v-if="!isLoading"
                                    class="sw-page__smart-bar-amount"
                            >
                ({{ items.total }})
            </span>
                        {% endblock %}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_review_list_content %}
            <template #content>

                {% block sw_review_list_content_list %}
                    <sw-entity-listing
                            v-if="isLoading || items"
                            ref="listing"
                            detail-route="into.advanced.reviews.detail"
                            :repository="repository"
                            :columns="columns"
                            :items="items"
                            :allow-edit="acl.can('review.editor')"
                            :allow-delete="acl.can('review.deleter')"
                            :show-selection="acl.can('review.deleter')"
                            :disable-data-fetching="true"
                            identifier="into-advanced-reviews-list"
                            :is-loading="isLoading"
                            @page-change="onPageChange"
                            @column-sort="onSortColumn"
                    >

                        {% block sw_review_list_content_list_headline %}
                            <template #column-headline="{ item }">
                                <div class="sw-review-text_ellipsis">
                                    <router-link :to="{ name: 'into.advanced.reviews.detail', params: { id: item.id } }">
                                        {{ item.headline }}
                                    </router-link>
                                </div>
                            </template>
                        {% endblock %}

                        {% block sw_review_list_content_list_rating %}
                            <template #column-rating="{ item }">
                                <sw-rating-stars v-model="item.rating"></sw-rating-stars>
                            </template>
                        {% endblock %}

                        {% block sw_review_list_content_list_is_approved %}
                            <template #column-is_approved="{ item }">
                                <sw-select-field :value="formatApprovalStatus(item.isApproved)"
                                                 :options="[{ value: true, name: 'Ja' }, { value: false, name: 'Nein' }]"
                                                 labelProperty="name"
                                                 valueProperty="value"
                                                 @input="toggleApproval(item)">
                                </sw-select-field>
                            </template>
                        {% endblock %}

                        {% block sw_review_list_content_list_product %}
                            <template #column-product="{ item }">
                                <template v-if="item.productId">
                                    <router-link :to="{ name: 'sw.product.detail', params: { id: item.productId } }">
                                        {{ item.product.translated.name }}
                                    </router-link>
                                </template>
                            </template>
                        {% endblock %}

                        {% block sw_review_list_content_list_alias %}
                            <template #column-user="{ item }">
                                <router-link
                                        v-if="item.customer"
                                        :to="{ name: 'sw.customer.detail', params: { id: item.customerId } }"
                                >
                                    {{ item.customer.lastName }}, {{ item.customer.firstName }}
                                </router-link>
                            </template>
                        {% endblock %}

                        {% block sw_review_list_content_list_reviewed_at %}
                            <template #column-createdAt="{ item }">
                                {{ item.createdAt | date({hour: '2-digit', minute: '2-digit', second: '2-digit'}) }}
                            </template>
                        {% endblock %}

                        {% block sw_review_list_content_list_context_menu %}
                            <template #context-menu="{ item }">
                                <sw-context-menu-item
                                        :disabled="!acl.can('review.editor')"
                                        @click="toggleApproval(item)"
                                >
                                    {% if item.isApproved %}
                                        {{ $tc('sw-review.list.contextMenu.disapprove') }}
                                    {% else %}
                                        {{ $tc('sw-review.list.contextMenu.approve') }}
                                    {% endif %}
                                </sw-context-menu-item>
                            </template>
                        {% endblock %}







                        {% block sw_review_list_content_list_status %}
                            <template #column-status="{ item }">
                                <sw-data-grid-column-boolean
                                        v-model="item.total_interactions"
                                        :is-inline-edit="false"></sw-data-grid-column-boolean>
                            </template>
                        {% endblock %}







                        {% block sw_review_list_content_list_comment %}
                            <template #column-comment="{ item }">
                                <sw-data-grid-column-boolean
                                        v-model="item.comment && item.comment.length > 0"
                                        :is-inline-edit="false"></sw-data-grid-column-boolean>
                            </template>
                        {% endblock %}
                    </sw-entity-listing>
                {% endblock %}

                {% block sw_review_list_empty_state %}
                    <sw-empty-state
                            v-if="!isLoading && !total"
                            icon="regular-file-text"
                            :title="$tc('sw-review.list.messageEmpty')"
                            :subline="$tc('sw-review.list.messageEmptySubline')"></sw-empty-state>
                {% endblock %}
            </template>
        {% endblock %}


        {% block sw_review_list_sidebar %}
            <template #sidebar>
                <sw-sidebar>


                    {% block sw_review_list_sidebar_refresh %}
                        <sw-sidebar-item
                                icon="regular-undo"
                                :title="$tc('sw-review.list.titleSidebarItemRefresh')"
                                @click="onRefresh"></sw-sidebar-item>
                    {% endblock %}
                </sw-sidebar>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
