{% block edit_review_form %}
    <div class="review-forms">
        <h3>Review bearbeiten</h3>
        <form class="edit-review-form" method="post"
              action="{{ path('frontend.into_advanced_reviews.review.edit', {'reviewId': review.id}) }}"
              enctype="multipart/form-data">

            <input type="hidden" name="productId" value="{{ review.productId }}">

            <label for="headline">Headline</label><br>
            <textarea id="headline" name="headline" required>{{ review.headline }}</textarea><br><br>
            <label for="text">Kommentartext</label><br>
            <textarea id="text" name="text" required>{{ review.text }}</textarea><br><br>
            <label for="rating">Rating</label><br>
            <select id="rating" name="rating" required>
                <option value="">Wählen Sie eine Bewertung</option>
                <option value="0" {% if review.rating == 0 %}selected{% endif %}>0 Sterne</option>
                <option value="1" {% if review.rating == 1 %}selected{% endif %}>1 Stern</option>
                <option value="2" {% if review.rating == 2 %}selected{% endif %}>2 Sterne</option>
                <option value="3" {% if review.rating == 3 %}selected{% endif %}>3 Sterne</option>
                <option value="4" {% if review.rating == 4 %}selected{% endif %}>4 Sterne</option>
                <option value="5" {% if review.rating == 5 %}selected{% endif %}>5 Sterne</option>
            </select><br><br>


            <button type="submit">Änderungen speichern</button>
        </form>
        <form class="delete-review-form" method="post"
              action="{{ path('frontend.into_advanced_reviews.review.delete', {'reviewId': review.id}) }}"
              onsubmit="return confirm('Sind Sie sicher, dass Sie diese Bewertung löschen möchten?');">
            <button type="submit">Bewertung löschen</button>
        </form>
    </div>
{% endblock %}
