{% macro renderComments(comments, review, depth = 0, parentName = null) %}
    {% for comment in comments %}
        <div class="comment comment-depth-{{ depth }}">

            <h3>Kommentar {% if context.customer and comment.customerId == context.customer.id %}
                    <button class="btn btn-primary edit-comment-button" data-comment-id="{{ comment.id }}">Kommentar
                        bearbeiten
                    </button>
                    <form id="edit-comment-form-{{ comment.id }}" class="edit-comment-form" method="post"
                          action="{{ path('frontend.into_advanced_reviews.comment.edit', {'commentId': comment.id}) }}"
                          enctype="multipart/form-data" style="display: none;">
                        {% include '@IntoAdvancedReviews/storefront/page/product-detail/comment/edit_comment_form.html.twig' with {'comment': comment} %}
                    </form>
                {% endif %}
                {% if depth == 0 %}
                {% else %}
                    Antwort auf {{ parentName }}
                {% endif %}
            </h3>

            <h4><b>Name: </b> {{ comment.name }}
                <tab> - Datum: {{ comment.createdAt|date('d.m.Y H:i') }} </tab>
                {% if comment.updatedAt is not null %}
                    <tab> - Editiert am: {{ comment.updatedAt|date('d.m.Y H:i') }}</tab>
                {% endif %}
            </h4>
            <p><b>Text: </b>{{ comment.text }}</p>
            {% include '@IntoAdvancedReviews/storefront/page/product-detail/interaction/interaction_comment_form.html.twig' with {'comment': comment, 'review': review} %}


            {% if context.customer %}
                <button class="btn btn-primary comment-button">Kommentieren</button>
                <form method="post" class="comment-form" style="display: none;"
                      action="{{ path('frontend.into_advanced_reviews.comment.submit_to_comment', {'commentId': comment.id}) }}">
                    <input type="text" name="alias" placeholder="Anzeigename"><br>
                    <input type="text" name="text" placeholder="Kommentar eingeben">
                    <button type="submit" class="btn btn-primary">Abschicken</button>
                </form>
            {% endif %}

            {% if comment.extensions.subComments.elements is defined %}
                <div class="sub-comments">
                    {{ _self.renderComments(comment.extensions.subComments.elements, review, depth + 1, comment.name) }}
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endmacro %}

{% block advanced_reviews %}
    <div class="advanced-reviews">
    {% if page.extensions.advanced_reviews_data.reviews|length > 0 %}
    {% for review in page.extensions.advanced_reviews_data.reviews %}
    <div class="review">
        <h2>Bewertung {% if context.customer and review.customerId == context.customer.id %}
                <button class="btn btn-primary edit-review-button" data-review-id="{{ review.id }}">Bewertung
                    bearbeiten
                </button>
                <form id="edit-review-form-{{ review.id }}" class="edit-review-form" method="post"
                      action="{{ path('frontend.into_advanced_reviews.review.edit', {'reviewId': review.id}) }}"
                      enctype="multipart/form-data" style="display: none;">
                    {% include '@IntoAdvancedReviews/storefront/page/product-detail/review/edit_review_form.html.twig' with {'review': review} %}
                </form>
            {% endif %}</h2>

        <h3>Titel: {{ review.headline }} </h3>
        <h4>Geschrieben von: {{ review.alias }}
            <tab>Datum vom: {{ review.createdAt|date('d.m.Y H:i') }} </tab>
            {% if review.updatedAt is not null %}
                <tab> - Editiert am: {{ review.updatedAt|date('d.m.Y H:i') }}</tab>
            {% endif %}
        </h4>
        <p><b>Rating:</b> {{ review.rating }}</p>
        <p><b>Bewertung:</b> {{ review.text }}</p>
        {% include '@IntoAdvancedReviews/storefront/page/product-detail/interaction/interaction_review_form.html.twig' with {'review': review} %}

        {% if context.customer %}
            <button class="btn btn-primary comment-button">Kommentieren</button>
            {% include '@IntoAdvancedReviews/storefront/page/product-detail/comment/comment_form.html.twig' with {'review': review} %}
        {% endif %}


        {{ _self.renderComments(review.extensions.comments.elements, review) }}
        {% endfor %}
        {% else %}
            <p>Keine Bewertungen gefunden.</p>
        {% endif %}
    </div>
    {% if context.customer and page.extensions.advanced_reviews_data.canReview %}
        <button class="btn btn-primary review-button">Bewertung schreiben</button>
    {% endif %}
    {% include '@IntoAdvancedReviews/storefront/page/product-detail/review/review_form.html.twig' %}
{% endblock %}