{% if context.customer and page.extensions.advanced_reviews_data.canReview %}
    <form id="advanced-review-form" method="post"
          action="{{ path('frontend.into_advanced_reviews.submit', {'productId': page.product.id}) }}"
          enctype="multipart/form-data" style="display: none;">

        <select id="rating" name="rating" required>
            <option value="">Wählen Sie eine Bewertung</option>
            <option value="0">0 Sterne</option>
            <option value="1">1 Stern</option>
            <option value="2">2 Sterne</option>
            <option value="3">3 Sterne</option>
            <option value="4">4 Sterne</option>
            <option value="5">5 Sterne</option>
        </select><br><br>

        <label for="alias">Anzeigename</label><br>
        <input type="text" id="alias" name="alias" required><br><br>

        <label for="headline">Titel</label><br>
        <input type="text" id="headline" name="headline" required><br><br>

        <label for="text">Bewertungstext</label><br>
        <textarea id="text" name="text" required></textarea><br><br>

        <button type="submit">Bewertung absenden</button>
    </form>
{% elseif context.customer %}
    <p>Sie haben dieses Produkt bereits bewertet.</p>
{% else %}
    <p>Bitte <a href="{{ path('frontend.account.login.page') }}">melden Sie sich an</a>, um eine Bewertung
        abzugeben.</p>
{% endif %}