{% sw_extends '@Storefront/storefront/element/cms-element-product-description-reviews.html.twig' %}
{% block element_product_description_reviews_tabs_content_container %}
    {{ parent() }}
    {% block element_product_description_reviews_tabs_content_review %}
        {% if config('core.listing.showReview') %}
            <div class="tab-pane fade show {% if (element.data.ratingSuccess == 1) or (element.data.ratingSuccess == -1) %}active{% endif %}"
                 id="{{ reviewTabContent }}"
                 role="tabpanel"
                 aria-labelledby="{{ reviewTabId }}">
                {% sw_include '@Storefront/storefront/page/product-detail/review/review.html.twig' with {'review': page.review} %}
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}