{% block interaction_comment_form %}
    <div class="interaction-form">
        <button class="btn btn-primary comment-interaction-button" data-review-comment-id="{{ review.id }}" data-comment-id="{{ comment.id }}" data-is-helpful="1">Daumen hoch</button>
        <button class="btn btn-primary comment-interaction-button" data-review-comment-id="{{ review.id }}" data-comment-id="{{ comment.id }}" data-is-helpful="0">Daumen runter</button>
        <div class="interaction-count">
            {% if comment.totalInteractions > -1 %}
                {{ '{0} %count% Personen fanden den Kommentar hilfreich|{1} %count% Person fand den Kommentar hilfreich|[2,Inf[ %count% Personen fanden den Kommentar hilfreich'|trans({'%count%': comment.totalInteractions}) }}
            {% else %}
                <p>0 Personen fand den Kommentar hilfreich!</p>
            {% endif %}
        </div>
    </div>
{% endblock %}