{% block interaction_review_form %}
    <div class="interaction-form">
        <button class="btn btn-primary review-interaction-button" data-review-id="{{ review.id }}" data-is-helpful="1">Daumen hoch</button>
        <button class="btn btn-primary review-interaction-button" data-review-id="{{ review.id }}" data-is-helpful="0">Daumen runter</button>
        <div class="interaction-count">
            {% if review.totalInteractions > -1 %}
                {{ '{0} %count% Personen fanden die Bewertung hilfreich|{1} %count% Person fand die Bewertung hilfreich|[2,Inf[ %count% Personen fanden die Bewertung hilfreich'|trans({'%count%': review.totalInteractions}) }}
            {% else %}
                <p>0 Personen fand die Bewertung hilfreich!</p>
            {% endif %}
        </div>
    </div>
{% endblock %}