{% block comment_form %}
    <form method="post" class="comment-form" style="display: none;"
          action="{{ path('frontend.into_advanced_reviews.comment.submit_to_review', {'reviewId': review.id}) }}">
        <input type="text" name="alias" placeholder="Alias"><br>
        <input type="text" name="text" placeholder="Kommentar eingeben">
        <button type="submit" class="btn btn-primary">Abschicken</button>
    </form>
{% endblock %}