{% block edit_comment_form %}
    <h3>Kommentar bearbeiten</h3>
    <div class="comment-forms">
        <form class="edit-comment-form" method="post"
              action="{{ path('frontend.into_advanced_reviews.comment.edit', {'commentId': comment.id}) }}"
              enctype="multipart/form-data">
            <input type="hidden" name="productId" value="{{ comment.productId }}">

            <label for="alias">Anzeigename</label><br>
            <textarea id="alias" name="alias" required>{{ comment.name }}</textarea><br><br>
            <label for="text">Kommentartext</label><br>
            <textarea id="text" name="text" required>{{ comment.text }}</textarea><br><br>

            <button type="submit" onclick="this.closest('.modal').style.display = 'none'">Änderungen speichern</button>
        </form>
        <form class="delete-comment-form" method="post"
              action="{{ path('frontend.into_advanced_reviews.comment.delete', {'commentId': comment.id}) }}"
              onsubmit="return confirm('Sind Sie sicher, dass Sie diesen Kommentar löschen möchten?');">
            <button type="submit">Kommentar löschen</button>
        </form>
    </div>
{% endblock %}